.working-realtor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-working {
    margin: 0 auto;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    object-fit: contain;
    width: 335px;
    height: 445px;
  }

.container-working .title-banner {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #3A3A3B;
    margin-top: 77px;
    margin-left: 30px;
    text-transform: uppercase;
}

.container-working .apartment-size {
    font-size: 24px;
    font-weight: 800;
    color: #3A3A3B;
    margin-top: 20px;
    margin-left: 30px;
}

.container-working .location {
    font-size: 16px;
    font-weight: 400;
    color: #3A3A3B;
    margin-top: 15px;
    margin-left: 30px;
}

.container-working .realtor-info {
    display: flex;
    align-items: center;
    margin-top: 59px;
    margin-left: 30px;
}

.container-working .realtor-info img {
    margin-right: 3%;
}

.container-working .realtor-info .name-realtor p {
    font-size: 16px;
    font-weight: 400;
    color: #3A3A3B;
    margin-bottom: 5px;
}

.container-working .realtor-info .name-realtor span {
    font-size: 18px;
    font-weight: 800;
    color: #3A3A3B;
}

.container-working .order-info .detail-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-left: 30px;
    width: 70%;
}

.container-working .order-info .detail-order p {
    font-size: 12px;
    font-weight: 400;
    color: #3A3A3B;
}

.img-working {
  position: relative;
  bottom: 424px;
  left: 75px;
  z-index: -1;
  width: 0%;
}


  
  


  /* BUTTON STYLE */
  .container {  
    width: 100%;
    padding: 20px;
  }
  
  .button-container {
      display: flex;
      flex-wrap: wrap;
  }
  
  
  .button {
    display: flex;
    overflow: hidden;
    margin: 3px;
    padding: 5px 12px;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    color: #fff;
    border: 0 none;
    border-radius: var(--borderRadius);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  
    &:hover {
      transition: all 150ms linear;
  
      opacity: .85;
    }
    
    &:active {
      transition: all 150ms linear;
      opacity: .75;
    }
    
    &:focus {
      outline: 1px dotted #959595;
      outline-offset: -4px;
    }
  }
  
  .button.-purple {
    margin: 0;
    width: 223px;
    margin-left: 30px;
    margin-top: 15px;
    background: var(--yellow);
    color: #3A3A3B;
    border: 2px solid #F86247;
    border-width: 1px 3px 3px 1px;
  }