footer {
    position: static;
    margin-top: 40px;
  }
  
  .footer-distributed {
    background-image: url(/assets/img/footer/Шум_паттерн.png);
    background-color: #3a3a3b;
    background-repeat: repeat;
  }
  
  .location-office {
    width: 335px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .location-office h3 {
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    margin-top: 50px;
    text-transform: uppercase;
  }
  
  .location-office .map {
    font-size: 20px;
    font-weight: 800;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .floors-sale img {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .floors-sale h4 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .floors-sale p {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
  }
  .phone {
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  .mail {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 18px;
    color: #9ff612;
  }
  .main-office {
    margin-bottom: 50px;
  }
  .main-office h4 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .main-office p {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .footer-line {
    border: none;
    color: #fff;
    background-color: #fff;
    height: 1px;
  }
  
  .footer-crm {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-crm p {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    margin-top: 15px;
  }
  