.rating-company {
    display: flex;
  }
  
  .rating-company p {
    font-size: 14px;
    font-weight: 800;
    color: #3a3a3b;
    margin-right: 10px;
  }
  
  .stars {
    cursor: pointer;
  }
  .stars:hover .star path {
    fill: #9ff612 !important;
  }
  .stars .star {
    float: left;
  }
  .stars .star path {
    fill: #d8d8d8;
  }
  .stars .star:hover ~ .star path {
    fill: #d8d8d8 !important;
  }
  .stars[data-stars] .star path {
    fill: #9ff612;
  }
  .stars[data-stars="1"] .star:nth-child(1) ~ .star path {
    fill: #d8d8d8;
  }
  .stars[data-stars="2"] .star:nth-child(2) ~ .star path {
    fill: #d8d8d8;
  }
  .stars[data-stars="3"] .star:nth-child(3) ~ .star path {
    fill: #d8d8d8;
  }
  .stars[data-stars="4"] .star:nth-child(4) ~ .star path {
    fill: #d8d8d8;
  }
  .stars[data-stars="5"] .star:nth-child(5) ~ .star path {
    fill: #d8d8d8;
  }