.container-about {
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #dadadb;
  border-radius: 16px;
  background: #ffffff;
  object-fit: contain;
}

.detail {
  width: 100%;
  padding: 10px;
}

.detail p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.detail a {
  display: flex;
  align-items: center;
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
}

.detail a img {
  margin-left: 10px;
}

.container-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 273px;
  height: 40px;
  margin: 5px;
}

.message {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3b;
  background-color: #ffffff;
  border: 2px solid var(--black);
  border-width: 1px 3px 3px 1px;
  border-radius: 5px;
  text-align: center;
}

.call {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: var(--blue);
  border: 2px solid var(--black);
  border-width: 1px 3px 3px 1px;
  border-radius: 5px;
  text-align: center;
}
