header {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 5%;
    background: var(--blue);
    color: #fff;
    z-index: 100;
}


header .icons i {
    font-size: 1.5rem; 
    position: relative;
}

header .circle {
    width: 16px;
    height: 16px;
    background: #F86247;
    z-index: 10;
    border-radius: 50%;
    position: absolute;
    right: 370px;
    top: 28px;
}

header .circle p {
    font-size: 10px;
    position: relative;
    left: 5px;
    top: 1px;
}




